In [1]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [2]:
class employees(Base):
    __tablename__="employees"
    emp_no = Column(String, primary_key=True)
    birth_date = Column(String)
    first_name = Column(String)
    last_name = Column(String)
    gender = Column(String)
    hire_date = Column(String)

class departments(Base):
    __tablename__= 'departments'
    dept_no = Column(String, primary_key=True)
    dept_name = Column(String)
    CONSTRAINT = Column(String)

class dept_emp(Base):
    __tablename__ = 'dept_emp'
    emp_no = Column(String, ForeignKey('employees.emp_no'))
    dept_no = Column(String)
    from_date = Column(String)
    to_date = Column(String)

class dept_manager(Base):
    __tablename__ = 'dept_manager'
    dept_no = Column(String)
    emp_no = Column(String, ForeignKey('employees.emp_no'))
    from_date = Column(String)
    to_date = Column(String)

class salaries(Base):
    __tablename__="salaries"
    emp_no = Column(String, ForeignKey('employees.emp_no'))
    salary = Column(Integer)
    from_date = Column(String)
    to_date = Column(String)

class titles(Base):
    __tablename__="titles"
    emp_no = Column(String, ForeignKey('employees.emp_no'))
    title = Column(String)
    from_date = Column(String)
    to_date = Column(String)

NameError: name 'ForeignKey' is not defined

In [4]:
# Right now, this table only exists in python and not in the actual database
Base.metadata.tables

immutabledict({'dept_emp': Table('dept_emp', MetaData(bind=None), Column('emp_no', String(), table=<dept_emp>), Column('dept_no', String(), table=<dept_emp>), Column('from_date', String(), table=<dept_emp>), Column('to_date', String(), table=<dept_emp>), schema=None)})